:root {
    --bittersweet: #ff5e5b;
    --timberwolf: #d8d8d8;
    --licorice: #220C10;
    --robin-egg-blue: #00cecb;
    --maize: #ffed66;

    background-color: var(--timberwolf);
    color: var(--licorice);
    font-size: clamp(0.5rem, 1vw, 1rem);
}

body {
    margin: 0;
}

/* Header Stylings */
.header {
    background-color: var(--bittersweet);
    font-size: 2rem;
    width: 100%;
    height: fit-content;
    padding: 0rem 2rem;
    margin: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar Stylings */
.sidebar {
    background-color: var(--robin-egg-blue);
    width: max(150px, 1fr);
    height: max(100vh, 100%);
    padding-left: 5px;
}

.sidebar h1 {
    font-size: 2rem;
    margin: 10px;
}

.sidebar li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
}

/* Todo List Stylings */
.todo-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.todo-container {
    background-color: var(--maize);
    color: var(--licorice);

    display: flex;
    align-items: center;

    gap: 1rem;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.todo-checkbox {
    background-color: var(--timberwolf);
    height: 2rem;
    width: 2rem;
}

.todo-title {
    margin-right: auto;
}

.todo-date {
    font-size: 1.5rem;
}

.todo-details {
    color: var(--bittersweet);
    border: 1px solid var(--bittersweet);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* Generic stylings */
.hidden {
    transform: scale(0);
}

.delete {
    transform: rotate(45deg);
}

img {
    height: auto;
    width: 2rem;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}